<section class="container">
  <h1><%= map.name %></h1>
  <canvas id="canvas"></canvas>

</section>
<script type="text/javascript">
  var points = <%-JSON.stringify(map.points)%>,
    movePoints = points.filter(function (point) {
      return point.type === 1;
    }),
    objectPoints = points.filter(function (point) {
      return point.type === 2;
    });

  function drawMap() {
    var canvas = document.getElementById('canvas');
    var ctx = canvas.getContext('2d');

    ctx.canvas.width = 500;
    ctx.canvas.height = 500;

    movePoints.forEach(function (point, index, points) {
      if (index !== 0) { 
        ctx.beginPath();

        ctx.moveTo(points[index - 1].x, points[index - 1].y);
        ctx.lineTo(point.x, point.y);

        ctx.lineWidth = 1;
        ctx.strokeStyle = '#ff0000';
        ctx.stroke();
      }
    });

    objectPoints.forEach(function (point) {
      ctx.beginPath();
      ctx.arc(point.x, point.y, 1, 0, 2 * Math.PI, true);

      ctx.strokeStyle = '#000000';
      ctx.stroke();
    });
  }

  window.onload = function () {
    drawMap();
  }
</script>
